<nav role="navigation" class="primary-navigation">
    <ul>    
        <li><a [routerLink]="['/posts']">Blog posts</a></li>
        <li><a [routerLink]="['/backlogs']">Backlog</a></li>
        <li><a [routerLink]="['/about']">About</a>
            <ul class="dropdown">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Illustration</a></li>
                <li><a href="#">Iconography</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>