<table class="styled-table">
    <thead>
        <tr>
            <th>Tittel</th>
            <th>Dato</th>
            <th>Kort Beskrivelse</th>
            <th>Beskrivelse</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let backlog of backlogs" [routerLink]="['/backlogs', backlog._id]">
            <td>{{ backlog.title }}</td>
            <td>{{ backlog.date }}</td>
            <td>{{ backlog.shortDescription }}</td>
            <td>{{ backlog.description }}</td>
        </tr>
    </tbody>
</table>