.post {
    border-radius: 5px;
    width: 90%;
    background-color: #fefefe;
    margin:auto;
    margin-top: 20px;
    padding: 10px;
    min-height: 300px;
}

.title, .date {
    padding: 10px;
    display: block;
    text-align: left;
}

.content {
    padding: 1em;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#000;
    height: 1px;
  }